
# Terraform & local environment ignores
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
*.log
devops-demo/environments/dev/.terraform/
# Editor and OS files
.vscode/
.idea/
.DS_Store
*.swp
*.zip
*.lock.hcl