
# Terraform & local environment ignores
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
*.log
devops-demo/environments/dev/.terraform/
# Editor and OS files
.vscode/
.idea/
.DS_Store
*.swp
*.zip
*.lock.hcl
# AWS CLI V2 Installer Files
# The downloaded zip file
awscliv2.zip

# The directory containing the installer scripts
aws/